body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, p{
   text-align: center; 
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 2em;
    gap: 5px;
}

.choose, #guessField, .guessSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
}
